{% extends 'template.html' %}

{% load static %}

{% block titulo %} Novo Usuário {% endblock %}

{% block 'main' %}

<div class="container mt-5" style="max-width: 400px;">
    <img src="{% static 'imagem/users.png' %}" alt="">

    <div class="card shadow">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">Cadastro de Usuário</h1>

            <form method="post" action="{% url 'addUsuario' %}" id="ContainerLogin">
                {% csrf_token %}
                {% comment %} <div class="form-group"> {% endcomment %}

                {{ form.nome }}
                {{ form.email }}
                {{ form.senha }}
                {{ form.confirmar_senha }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.CEP }}
                    </div>
                    <div class="col-md-6">
                        {{ form.logradouro }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.bairro }}
                    </div>
                    <div class="col-md-6">
                        {{ form.localidade }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.estado }}
                    </div>
                    <div class="col-md-6">
                        {{ form.numero_residencia }}
                    </div>
                </div>    
                <div class="d-grid">
                    <button type="submit" class="btn_cadastrar_usuario">Cadastrar</button>
                </div>    

                <div class="text-center mt-3">
                    Já tem cadastro? <a href="{% url 'login' %}">Faça Login</a>
                </div>

                {% comment %} </div> {% endcomment %}
            </form>
        </div>
    </div>
</div>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<script>

    function buscaCep(cep){
        fetch('https://viacep.com.br/ws/'+ cep + '/json/')
        .then(response => {
            if(!response.ok){
                console.log("Erro de Conexão")
            }
        return response.json()
        } )
        .then(data => {
            console.log(data)
            logradouro.value = data.logradouro
            bairro.value = data.bairro
            localidade.value = data.localidade
            estado.value = data.estado

        })
        .catch(error => {
            console.log("Erro", error)
        })
    }
    setTimeout(function() {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => alert.style.display = 'none');
    }, 3000);

</script>

{% endblock %}