{% extends "template.html" %}
{% load static%}

{% block 'main' %}
<h1>Produtos da API</h1>
<div class="container">
    {% for produto in produtos %}
        <div class="card">
            <img src="{{ produto.image }}" alt="{{ produto.title }}">
            <div class="card-body">
                <div class="card-title">{{ produto.title|truncatechars:50 }}</div>
                <div class="card-price">R$ {{ produto.price }}</div>
                <div class="card-category">{{ produto.category }}</div>
                <div class="card-descripition">{{ produto.description }}</div>
                <div class="card-rating">
    {% with rate=produto.rating.rate %}
        {% for i in "12345" %}
            {% if forloop.counter <= rate %}
                <i class="fas fa-star" style="color: gold;"></i>
            {% elif forloop.counter0 < rate %}
                <i class="fas fa-star-half-alt" style="color: gold;"></i>
            {% else %}
                <i class="far fa-star" style="color: gold;"></i>
            {% endif %}
        {% endfor %}
        <span style="margin-left: 5px;">({{ produto.rating.count }} avaliações)</span>
    {% endwith %}
</div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
