{% extends 'template.html' %}
{% load static %}

{% block titulo %} Dashboard {% endblock %}

{% block 'main' %}

<div class="containerDashboard">
    <h1>Bem-vindo(a)! {{email}} </h1>

    <div class="d-flex flex-wrap gap-4 justify-content-center mt-4">
        <a href="{% url 'exibirUsuarios' %}" style="text-decoration: none;">
            <div class="card text-center p-3" style="width: 14rem; border-radius: 16px; box-shadow: 0 4px 12px rgba(0,0,0,0.10); border: 2px solid #d492fd;">
                <span style="font-size: 1.2em; font-weight: 600;">Usuários</span>
            </div>
        </a>
        <a href="{% url 'listarProdutos' %}" style="text-decoration: none;">
            <div class="card text-center p-3" style="width: 14rem; border-radius: 16px; box-shadow: 0 4px 12px rgba(0,0,0,0.10); border: 2px solid #d492fd;">
                <span style="font-size: 1.2em; font-weight: 600;">Produtos</span>
            </div>
        </a>
        <a href="{% url 'compras' %}" style="text-decoration: none;">
            <div class="card text-center p-3" style="width: 14rem; border-radius: 16px; box-shadow: 0 4px 12px rgba(0,0,0,0.10); border: 2px solid #d492fd;">
                <span style="font-size: 1.2em; font-weight: 600;">Minhas compras</span>
            </div>
        </a>
        <a href="{% url 'grafico' %}" style="text-decoration: none;">
            <div class="card text-center p-3" style="width: 14rem; border-radius: 16px; box-shadow: 0 4px 12px rgba(0,0,0,0.10); border: 2px solid #d492fd;">
                <span style="font-size: 1.2em; font-weight: 600;">Visualizar Estoque</span>
            </div>
        </a>
        <a href="{% url 'graficoVendas' %}" style="text-decoration: none;">
            <div class="card text-center p-3" style="width: 14rem; border-radius: 16px; box-shadow: 0 4px 12px rgba(0,0,0,0.10); border: 2px solid #d492fd;">
                <span style="font-size: 1.2em; font-weight: 600;">Visualizar Vendas</span>
            </div>
        </a>
    </div>
</div>

{% endblock %}