{% extends "template.html" %}
{% load static %}

{% block 'titulo'%}Iris Beauty{% endblock %}

{% block 'main' %}
<div class="container-fluid d-flex align-items-center justify-content-center flex-column flex-md-row mt-custom">
    <img src="{% static 'img/cosmeticos.jpg' %}" alt="Produtos" class="img-index mb-4 mb-md-0">
    <div class="main-text ms-md-5 mt-4 mt-md-0 text-center text-md-start">
        <h1 class="titulo">Seja bem-vinda à Iris,</h1>
        <p>
            Nossos produtos foram cuidadosamente selecionados para revelar sua essência com<br>
            elegância, exclusividade e um toque de sofisticação.<br><br>
            Acreditamos que a beleza vai além da aparência — é presença, é identidade, é arte.<br>
            Cada item da Íris foi criado para transformar o autocuidado em um ritual de expressão<br>
            e para destacar aquilo que há de mais autêntico em cada pessoa.<br><br>
            Ao explorar nossos produtos, descubra texturas envolventes, fragrâncias marcantes e<br>
            tonalidades que celebram a diversidade da beleza real.<br>
        </p>
        <a href="{% url 'addUsuario' %}"><button class="btn_cadastrar">Cadastre-se</button></a>
    </div>
</div>
{% endblock %}