{% extends 'template.html' %}
{% load static %}
{% block 'titulo' %} Usuários {% endblock %}

{% block 'main' %}
<a href="{% url 'dashboard' %}">
    <button id="btnVoltar" class="btn">Voltar</button>
</a>

<div style="text-align: center; margin-top: 2em;">
    <h1 id="h1Usuarios">Usuários</h1>
</div>

<div style="display: flex; justify-content: center; margin-top: 2em;">
    <table style="width: 60%; border-collapse: collapse;">
        <thead>
            <tr id="trUsuarios">
                <th>Nome</th>
                <th>E-mail</th>
                <th colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for user in listUsuarios %}
            <tr>
                <td>{{ user.nome }}</td>
                <td>{{ user.email }}</td>
                   
                <td>
                     <div style="display: flex; justify-content: center;"></div>
                    <a href="{% url 'excluirUsuario' user.id %}" class="btn-acao btn-excluir">Excluir</a>
                    <a href="{% url 'editarUsuario' user.id %}" class="btn-acao btn-editar">Editar</a>
                    </div>
            </tr>
        {% endfor %}
    </table>

{% endblock %}