{% extends 'template.html' %}
{% load static %}
{% block 'titulo' %} Usuários {% endblock %}

{% block 'main' %}
<div class="position-relative mb-4 mt-6" style="width: 100%;">
    <a href="{% url 'dashboard' %}" class="btn_voltar position-absolute start-0" style="left:0;">
        Voltar
    </a>
    <h2 class="text-center mb-0">Usuários</h2>
</div>

<table class="table table-hover p-3 m-auto" style="width: 40%;">
    <tr id="trUsuarios">
        <th>Nome</th>
        <th>E-mail</th>
        <th colspan="2">Ações</th>
    </tr>

    {% for user in listUsuarios %}
    <tr id="trProd">
        <tr>
            <td>{{ user.nome }}</td>
            <td>{{ user.email }}</td>
        <td>
            <a href="{% url 'excluirUsuario' user.id %}" class="btn-acao btn-excluir">Excluir</a>
        </td>
        <td>
            <a href="{% url 'editarUsuario' user.id %}" class="btn-acao btn-editar">Editar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}